body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
body a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.studio {
  color: #212121;
}

nav:link {
  font-size: 14px;
  line-height: 1.4;
}
.link {
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.title {
  font-size: 44px;
  line-height: 1.4;
  color: antiquewhite;
}
button {
  cursor: pointer;
}
button:hover,
:focus {
  color: #2196f3;
}
.more:hover,
.more:focus {
  color: #2196f3;
}
.more {
  color: #212121;
}
h3 {
  font-size: 14px;
  line-height: 1.2;
  color: #212121;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
h2 {
  font-family: "Roboto", sans-serif;
}
.team h3 {
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}
.team p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.footer-logo {
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.footer-studio {
  font-size: 26px;
  line-height: 1.2;
  color: bisque;
}
.address {
  font-size: 14px;
  line-height: 1.7;
  color: beige;
}
.address {
  font-size: 14px;
  line-height: 1.7;
  color: beige;
}
/* Портфолио */
.gallery h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.gallery p {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
